<h1>Rooms</h1>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to "Room #{room.number}", room_path(room) %>
      - Type: <%= room.room_type %> - Price: $<%= room.price %>
    </li>
  <% end %>
</ul>
